<div class="container my-3">
  <h1 class="text-center">{{bienvenida}}</h1>
  <div class="row p-5">
    {{#each productos}}
      <div class="col-4 p-2">{{> Productos producto=this}}</div>
    {{/each}}
  </div>
</div>
