<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <button id="carrito" type="button" class="btn m-auto" data-toggle="modal" data-target="#exampleModalCenter">
    <img src="/img/cart.svg" class="carrito" alt="">
  </button>
</nav>
<style>
  .carrito {
    width: 50px;
    margin-left: auto;
  }
</style>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="productos"></div>
      </div>
    </div>
  </div>
</div>
