<div class="producto m-auto" style="background-image: url('/img/{{producto}}.png');" id="{{producto}}">
  <h3 class="display-6">{{producto}}</h3>
</div>
<style>
  .producto {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
